<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:views/index.ejs
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Titulo 1</h1>
        <p>Estamos usando EJS!</p>

    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>
=======
    
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="container">

    <header class="main-header">
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <h1>Titulo 1</h1>
            <p>Estamos usando EJS!</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    </body>
>>>>>>> f2bc4e36301eedc6a600f6667bcf0df695a6e8c0:views/paginas/index.ejs

</html>