<%- include('header') -%> 

    <h1>Editar Orden</h1>
    <form action="/orders/editar/<%= order.id %> " method="POST">
    
        <div>
            <label for="">Fecha</label>
            <input type="date" name="fecha">
        </div>
        <div>
            <label for="">Total</label>
            <input type="text" name="total" value="<%= order.total_amount %>">
        </div>
        <div>
            <label for="">Dirección</label>
            <input type="text" name="direccion" value="<%= order.delivery_address %>">
        </div>
        <div>
            <label for="">Notas</label>
            <input type="text" name="notas" value="<%= order.delivery_notes %>">
        </div>
        <div>
            <label for="">Status</label>
            <select name="status">
                <% for (let i=0; i< status.length; i++) { %> 
                    <% if (status[i].id == order.status_id) { %> 
                        
                        <option value="<%= status[i].id %> " selected><%= status[i].title %>  </option>


                    <% } else {%> 

                        <option value="<%= status[i].id %>"><%= status[i].title %>  </option>

                    <% } %> 

                
                
                <% } %> 
            </select>
        </div>

        <button type="submit">Editar!</button>
    
    </form>

<%- include('footer') -%> 

