<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>
    <main>
    <div class="contenedor-formularios">

        <div class="titulo-form">
                       
            <h3>crear producto</h3>
            
        </div>

        <form action="/product" method="POST" class="create-form">
            
            <div class="control-formulario" >
                <input type="text" name="name" placeholder="Nombre del producto" class="control" value="">
            </div>

            <div class="control-formulario">
                <input type="number" name="price" placeholder="Ingresá un precio" class="control" value= "" >
            </div> 

            <div class="control-formulario">
                <input type="text" name="description" placeholder="descripcion del producto" class="control" value="" >
            </div>

            <div class="control-formulario">
                <input type="file" name="image" placeholder="Ingresá una imagen" class="control" value= "" >
            </div> 

            <div class="control-formulario">
                <input type="number" name="stock" placeholder="Ingresá un stock" class="control" value= "" >
            </div> 

            <div class="control-formulario" >
                <input type="text" name="brand" placeholder="marca del producto" class="control" value="">
            </div>

             <div class="control-formulario">
                <div class="control-payment">
                <select 
                    name="category_id" 
                    class="control-form-select">
                    <option value="">Seleccioná la categoria</option>
                    <% for (let i = 0; i<category.length; i++) { %> 
                    <option value="<%= category[i].id %> ">
                        <%= category[i].name %> 
                    </option>
                    <% } %> 
                </select>
            </div>
            </div>  
<!-- 
           <div class="control-formulario">
                <div class="control-payment">
                <select 
                    name="size_id" 
                    class="control-form-select">
                    <option value="">Seleccioná tu tamaño</option>
                    <%# for (let i = 0; i<sizes.length; i++) { %> 
                    <option value="<%#= sizes[i].id %> ">
                        <%#=# sizes [i].name %> 
                    </option>
                    <%# } %> 
                </select>
            </div>
            </div>  -->



            <div class="boton-centrado">
                <button type="submit" class="boton-formulario">Registrate</button>
            </div>

            <div class="no-user">
                <p>¿Ya tenés una cuenta? ¡Hacé clic <a href="./entrar">aquí</a>!</p>
            </div>
        
        </form>
    </div>
</main>
    <%- include('./partials/footer'); %>
</body>
</html>

