<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>
    <main>
        <div class="contenedor-formularios">
            
            <div class="titulo-form">
                
                <h3>Ingres치 el producto</h3>
                
            </div>
            
            <form action="/product" method="POST" id ='form' class="create-form" enctype="multipart/form-data">
            <ul class="errors"></ul>
                <div class="control-formulario" >
                    <input type="text" name="name" placeholder="Nombre del producto" id='nameProduct' class="control <%= locals.oldData ? oldData.name : null %>" value="<%=locals.oldData ? oldData.name: null %>">
                </div>
                <% if(locals.errors && errors.name) {%>
                    <div class="text-danger">
                        <%= errors.name.msg  %> 
                    </div>
                    <%} %> 

                <div class="control-formulario">
                    <input type="number" name="price" placeholder="Ingres치 un precio" id="price" class="control" value= "" >
                </div> 
                <span></span>
                <div class="control-formulario">
                <input type="text" name="description" placeholder="descripcion del producto" id="description" class="control" value="" >
            </div>

            <div class="control-formulario">
                <input type="file" name="image" placeholder="Ingres치 una imagen" id="imgFile" accept="image/.jpg, image/.png" class="control <%= locals.errors && errors.image ? 'is-invalid' : null %>"> 
            </div> 
            <% if(locals.errors && errors.image) {%>
                <div class="text-danger">
                    <%= errors.image.msg  %> 
                </div>
                <%} %> 
            
            
            <div class="control-formulario">
                <input type="number" name="stock" placeholder="Ingres치 un stock" id="stock" class="control" value= "" >
            </div> 
            
            <div class="control-formulario" >
                <input type="text" name="brand" placeholder="marca del producto" id="brand" class="control" value="">
            </div>
            
            <div class="control-formulario">
                <div class="control-payment">
                    <select 
                    name="category_id" 
                    class="control-form-select">               
                    <% for (let i = 0; i<category.length; i++) { %> 
                        <option value="<%= category[i].id %>">
                            <%= category[i].name %> 
                        </option>
                        <% } %> 
                    </select>
                </div>                
            </div>  
           

            
            <div class="control-formulario">
                <div div class="control-payment">
                    <select 
                    name="size_id" 
                    class="control-form-select">                   
                    <% for (let i = 0; i < sizes.length; i++) { %> 
                        <option value="<%= sizes[i].id %>">
                            <%= sizes[i].name %> 
                        </option>
                        <% } %> 
                    
                    </select>
                </div>
            </div> 
          
            
            
            
            <div class="boton-centrado">
                <button type="submit" class="boton-formulario">Crear Producto</button>
            </div>
            
            
            
        </form>
    </div>
    <script src="/js/validationCreateProduct.js" defer></script>
</main>
    <%- include('./partials/footer'); %>
</body>
</html>

