<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>
    <main>
    <div class="contenedor-formularios">

        <div class="titulo-form">
                       
            <h3>Registrate</h3>

            <h3 class="title-bar">|</h3>
            
            <h3><a href="/users/entrar" class="reg-pop">Ingresá</a></h3>
            
        </div>

        <form action="/users/show" method="POST" class="create-form">
            
            <div class="control-formulario" >
                <input type="text" name="name" placeholder="Nombre completo" class="control" value="<%= locals.oldData ? oldData.name : null %>">
            </div>
            <div class="control-formulario">
                <input type="email" name="email" placeholder="Ingresá tu e-mail" class="control" value= "<%= locals.oldData ? oldData.email : null %>" >
            </div> 
            <div class="control-formulario">
                <input type="text" name="address" placeholder="Dirección" class="control" value="<%= locals.oldData ? oldData.address : null %>" >
            </div>
            <div class="control-formulario">
                <input type="text" name="phone" placeholder="Ingresá tu número de celular" class="control" value= "<%= locals.oldData ? oldData.celular : null %>" >
                
            </div> 
            <div class="control-formulario">
                <input type="password" name="password" placeholder="Elegí tu contraseña" class="control" >
            </div>
            <div class="control-formulario">
                <label for="imagePerfil" class="foto"><i class="fas fa-camera"></i> Subí una imagen de perfil
                <input type="file" name="file" id="imagePerfil" accept="image/.jpg, image/.png" class="control-foto "<%= locals.errors && errors.imagePerfil ? 'is-invalid' : null %>></label>   
            </div> 
            <div class="control-formulario">
                <div class="control-payment">
                <select 
                    name="roles_id" 
                    class="control-form-select <%= locals.errors && errors.payment ? 'is-invalid' : null %>">
                    <option value="">Seleccioná tu rol</option>
                    <% for (let i = 0; i<roles.length; i++) { %> 
                    <option value="<%= roles[i].id %> ">
                        <%= roles [i].name %> 
                    </option>
                    <% } %> 
                </select>
            </div>
            </div> 

            <div class="boton-centrado">
                <button type="submit" class="boton-formulario">Registrate</button>
            </div>

            <div class="no-user">
                <p>¿Ya tenés una cuenta? ¡Hacé clic <a href="./entrar">aquí</a>!</p>
            </div>
        
        </form>
    </div>
</main>
    <%- include('./partials/footer'); %>
</body>
</html>

