<head>

    <%- include('./partials/head'); %>

</head>

<body>

    <%- include('./partials/header'); %>

    <main class="producto-main">

        <ul class="breadcrumb">

            <li><a href="/product/detail">Listado de Productos</a></li>
            <!-- <li><a href="/products?categoria=<%#= product.category%>"><%#= product.category[0].toUpperCase() + product.category.slice(1)%></a></li>
            Esto permite poner el primer caracter en mayuscula y el resto en minuscula -->
            <li><%=product.name%></li>

        </ul>

        <article class=producto-main-art>
            
            <h3 class="producto-marca"><%=product.name%></h3>
            <div class="producto-div-article">
                <div class="producto-div-mobile">                    

                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-img-producto">
                    <div class="producto-sub-foto">
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" 
                        class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto">
                        
                    </div>

                </div>

                <div class="producto-precio-botones" >

                  <div class="cajita-precio-botones">

                    <div class="cantidad-precio">

                        <label class="producto-cantidad">Marca: 
                        <span class="span-producto"><%= product.brand%></span></label>

                        <label class="producto-medidas">Medida:
                        <span class="span-producto"><%=product.sizes.name%></span></label>
                        
                        <p class="producto-precio">$<%=product.price%></p>
                        <% if (locals.isLogged){ %>
                        <label class="producto-cantidad">Cantidad: 
                        <input class="producto-inp-cantidad" type="number" ></label>
                        <% }  %>

                    </div>
                    
                    <div class="botones-detail">
                        
                        <button class="producto-button-add">Agregar al carrito</button>
                        
                        <% if (locals.isLogged && locals.userLogged.category == "admin") { %>
                        <a href="/products/<%= product.id %>/edit/" class="button-link-style" ><button class="producto-button-edit">Editar producto</button></a>

                   
                        <form action="/products/<%= product.id %>?_method=DELETE"  method="POST"  style="display: inline-flex" class="detail-form-delete">
                            <button type="submit" class="producto-button-delete" >Eliminar
                            </button>
                        </form>
                   
                        <% }  %>
                    </div>
                  </div>  
                </div>
            </div>

            <div class="producto-detail-descripcion-content">
                <div class="producto-detail-descripcion">
                <h3 class="producto-detail-titulo">Información del producto</h3>
                <p class="producto-detail-texto"> <%= product.description %></p>
                </div>
            </div>


                
            
           
        </article>
        
        

        <% if (!locals.isLogged) { %>
        
            <%- include('./partials/callout') %>
        
        <% } %>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>