<head>

    <%- include('./partials/head'); %>

</head>

<body>

    <%- include('./partials/header'); %>

    <main class="producto-main">

        <ul class="breadcrumb">

            <li><a href="/products">Listado de Productos</a></li>
            <li><a href="/products?categoria=<%= product.category%>"><%= product.category[0].toUpperCase() + product.category.slice(1)%></a></li><!-- Esto permite poner el primer caracter en mayuscula y el resto en minuscula -->
            <li><%=product.name%></li>

        </ul>

        <!-- <div class = 'producto-banner'>
            <img src="/images/banner3.jpg" alt="imagen-banner" >
        </div> -->
        <article class=producto-main-art>
            
            <h3 class="producto-marca"><%=product.name%></h3>
            <div class="producto-div-article">
                <div class="producto-div-mobile">                    

                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-img-producto">
                    <div class="producto-sub-foto">
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" 
                        class="producto-pie-de-foto"> 
                        <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto">
                        
                    </div>

                </div>

                <div class="producto-precio-botones" >

                  <div class="cajita-precio-botones">

                    <div class="cantidad-precio">

                        <label class="producto-cantidad">Marca: 
                        <span class="span-producto"><%= product.marca%></span></label>

                        <label class="producto-medidas">Medidas:
                        <span class="span-producto"><%=product.size%></span></label>
                        
                        <p class="producto-precio">$<%=product.price%></p>

                        <label class="producto-cantidad">Cantidad: 
                        <input class="producto-inp-cantidad" type="number" ></label>


                    </div>
                
                    <div class="botones-detail">
                        <button class="producto-button-add">Agregar al carrito</button>

                        <button class="producto-button-edit"><a href="/products/<%= product.id %>/edit/" class="button-link-style" >Editar producto</a></button>

                        <button type="submit" class="producto-button-delete">Eliminar
                            <form action="/products/<%= product.id %>?_method=DELETE"  method="POST" style="display: inline-flex" class="detail-form-delete">
                            </form>
                        </button>
                        
                    </div>
                  </div>  
                </div>
            </div>

            <div class="producto-detail-descripcion-content">
                <div class="producto-detail-descripcion">
                <h3 class="producto-detail-titulo">Información del producto</h3>
                <p class="producto-detail-texto"> <%= product.description %></p>
                </div>
            </div>

                
                
            
           
        </article>
        
        <section>
            <h1 class="producto-sub-titulo">Quizas te pueda interesar</h1>

            <div class="producto-intereses">
                <div class="producto-cajita">
                    <article class="producto-article-section">

                        <img src="/images/products/imagen-2.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                
                        <div class="caja-extra">
                            <div class ="producto-sub-descripcion">  
                            <p class="producto-precio-article">$6.770</p>
                            <p class="producto-descuento-article">40% OFF</p>
                        </div>
                        <p class="producto-descripcion-article"> POSITANO BRILLANTE</p>
                    </div> 
                    </article>
                </div>
                
                <div class="producto-cajita">
                <article class="producto-article-section">
                    
                    <img src="/images/products/imagen-3.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">

                    <div class="caja-extra">
                    <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                    </div>
                    <p class="producto-descripcion-article"> ATELIER ARENA</p>
                    </div>
                </article>
                </div>

                <div class="producto-cajita">
                <article class="producto-article-section">
                    <img src="/images/products/imagen-4.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                    
                    <div class="caja-extra">
                    <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                    </div>
                    <p class="producto-descripcion-article"> FORTEZZE ARENA</p>
                    </div>
                </article>
            </div>
            </div>

        </section>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>