<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main class="producto-main">
        <div class = 'producto-banner'>
            <img src="/images/banner3.jpg" alt="imagen-banner" >
        </div>
        <article class=producto-main-art>
            <div class="producto-div-article">
            <div class="producto-div-mobile">
                <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-img-producto">
                <div class="producto-sub-foto">
                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto"> 
                    <img src="/images/products/<%= product.image%>" alt="Foto-del-producto" class="producto-pie-de-foto">
                </div>
            </div>
                <div class="producto-descripcion-producto" >
                    <h3 class="producto-marca"><%=product.name%></h3>
                    <p class="producto-precio">$<%=product.price%></p>
                    <p class="producto-texto"> <%= product.marca%></p>
                    <h1 class="producto-texto"><%=product.size%></h1>
                    <p class="producto-texto"> <%= product.description %></p>
                    
                    <label for="" class="producto-cantidad">Cantidad: <input class="producto-inp-cantidad" type="number" > </label>
                    <button class="producto-button">Agregar al carrito</button>

                    <a href="/products/<%= product.id %>/edit/" class="producto-button">EDITAR PRODUCTO</a>

                    <form  action="/products/<%= product.id %>?_method=DELETE"  method="POST" style="display: inline-flex">
                        <button type="submit" class="producto-button">ELIMINAR </button>
                    </form>

                       
                </div>
                
            </div>
           
        </article>
        <section>
            <h1 class="producto-sub-titulo">Quizas te pueda interesar</h1>
            <div class="producto-intereses">
                <article class="producto-article-section">
                    <img src="/images/products/imagen-2.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
              
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article"> POSITANO BRILLANTE</p>
                </div>
                </article>
 
                <article class="producto-article-section">
                    <img src="/images/products/imagen-3.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article"> ATELIER ARENA</p>
                </div>
                </article>

                <article class="producto-article-section">
                    <img src="/images/products/imagen-4.jpg" alt="foto-interesantes" class="producto-pie-de-foto2">
                    
                  <div class ="producto-sub-descripcion">  
                        <p class="producto-precio-article">$6.770</p>
                        <p class="producto-descuento-article">40% OFF</p>
                        <p class="producto-descripcion-article">FORTEZZE ARENA</p>
                </div>
                </article>

            </div>

        </section>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>