<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>  
    <%- include('./partials/header'); %>
    <main>

        <!--Formularios-->
            <div class="contenedor-formularios-edit">
                <form action="/" method="GET" class="create-form-edit">
    
                    <div class="titulo-form-edit">
                        <h3>Editar el producto</h3>
                    </div>  
                
                    <div class="control-formulario-edit">
                        <label class="label-title-edit" for="Nombre de Producto">Nombre de producto</label>
                        <input type="text" name="Nombre de Producto" class="control" placeholder="Ej: parque cerezo" value="<%= nombre %>">
                    </div>
    
                    <div class="control-formulario-edit">
                        <label class="label-title-edit" for="marca">Marca del producto</label>
                        <input type="text" name="marca" class="control" placeholder="Ej: Ilva" value="<%= marca %>">
                    </div>
                    
                    <div class="control-formulario-edit">
                        <label class="label-title-edit" for="descripcion">Descripción del producto</label>
                        <input type="textarea" name="descripcion" class="control" placeholder="Ingrese medidas m²" value="<%= descripcion %>">
                    </div>

                    <!-- <div class="control-formulario">
                        <label class="foto"><i class="fas fa-camera"></i>Subir una imagen del Producto:
                        <input type="file" name="avatar" accept=".jpg .png" class="control"></label>   
                    </div> -->
    
                    <div class="control-formulario-edit">
                        <label class="label-title-edit">Categoría</label>
                        <div class="elecciones-edit">
                            <label><input type="radio" name="perfil" value="Griferia" <%= categoria.toLowerCase() == "griferia" ? "checked" : "" %> >Griferia</label>
                            <label><input type="radio" name="perfil" value="Sanitarios" <%= categoria.toLowerCase() == "sanitarios" ? "checked" : "" %>>Sanitarios</label>
                            <label><input type="radio" name="perfil" value="Pisos" <%= categoria.toLowerCase() == "pisos" ? "checked" : "" %>>Pisos</label>
                        </div>
                
                    </div>
                    
                    <div class="control-formulario-edit">
                        <label class="label-title-edit" for="pesos">Precio</label>
                        <label for="pesos">$<input type="number" name="pesos" placeholder="Precio del Producto $" class="control-edit" value="<%= precio %>"></label>
                    </div>
 
                    <!-- Agregar campo de Oferta -->

                    <div class="control-formulario-edit">
                        <label class="label-title-edit" for="medidas">Medidas</label>
                        <div class="elecciones-edit">
                            <label><input type="checkbox" name="perfil" value="35x60" <%= medidas== "35x60" ? "checked" : "" %> >35x60</label>
                            <label><input type="checkbox" name="perfil" value="30x45" <%= medidas== "30x45" ? "checked" : "" %> >30x45</label>
                            <label><input type="checkbox" name="perfil" value="45x90" <%= medidas== "45x90" ? "checked" : "" %> >45x90</label>
                            <label><input type="checkbox" name="perfil" value="20x120" <%= medidas== "20x120" ? "checked" : "" %> >20x120</label>
                        </div>
                        
                    </div>
    
                    <div class="botones-edit">
                        <button type="reset" class="boton-borrado">Borrar</button>
                        <a href="/"><button type="submit" class="boton-registro-edit">Guardar</button></a>
            
                </form>
            </div>
    
    
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>