<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>
    <main>
    <div class="contenedor-formularios">

        <div class="titulo-form">
                       
            <h3>Edici칩n del producto</h3>
            
        </div>

        <form action="/product/edit/<%= product.id %>" method="POST" id="formEdit" class="create-form" enctype="multipart/form-data">
            <ul class="errors"></ul>
            <div class="control-formulario" >
                <input type="text" name="name" placeholder="Nombre del producto"id="nameEdit" class="control" value="<%= product.name %> ">
            </div>

            <!-- Resolver type="number" -->
            <div class="control-formulario">
                <input type="text" name="price" placeholder="Ingres치 un precio" id="priceEdit"class="control" value= "<%= product.price %> " >
            </div> 

            <div class="control-formulario">
                <input type="text" name="description" placeholder="descripcion del producto" id="descriptionEdit"class="control" value="<%= product.description %>" >
            </div>

            <div class="control-formulario">
                <input type="file" name="image" placeholder="Ingres치 una imagen" id="imageEdit" class="control" value="<%= product.description %>" >
            
            </div> 

            <!-- Resolver type="number" -->
            <div class="control-formulario">
                <input type="text" name="stock" placeholder="Ingres치 un stock" id="stockEdit" class="control" value= "<%= product.stock %>" >
            </div> 

            <div class="control-formulario" >
                <input type="text" name="brand" placeholder="marca del producto" id="brandEdit" class="control" value="<%= product.brand %>">
            </div>

            <div class="control-formulario">
                <div class="control-payment">
                <select 
                    name="category_id" 
                    class="control-form-select">
                    <option value="<%= product.category.id %> "> <%= product.category.name %> </option>
                    <% for (let i = 0; i<category.length; i++) { %> 
                    <option value="<%= category[i].id %> ">
                        <%= category[i].name %> 
                    </option>
                    <% } %> 
                </select>
            </div>
            </div>  

           <div class="control-formulario">
                <div class="control-payment">
                <select 
                    name="size_id" 
                    class="control-form-select">
                    <option value="<%= product.sizes.id %>" > <%= product.sizes.name %> </option>
                    <% for (let i = 0; i < sizes.length; i++) { %> 
                    <option value="<%= sizes[i].id %> ">
                        <%= sizes[i].name %> 
                    </option>
                    <% } %> 
                </select>
            </div>
            </div> 



            <div class="boton-centrado">
                <button type="submit" class="boton-formulario">Editar Producto</button>
            </div>

            
        
        </form>
    </div>
    <script src="/js/validationEditProduct.js" defer></script>
</main>
    <%- include('./partials/footer'); %>
</body>
</html>

