<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>



  <h1>Listado de Productos</h1>
  <ul>
    <% products.forEach(product=> { %>
     <a> <li>  <%= product.name %>  
      <%= product.price  %>    
       <img src='../images/products/<%= product.image %>' class="img-producto">
         </li> </a>
   <%  }) %>  
          
    

 
</ul>
 


  <%- include('./partials/footer'); %>
</body>
</html>