<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>



  <h1>Listado de Productos</h1>
  <ul>
    <% for (let i = 0; i< products.length; i++) { %> 
    
      <li>
          <a href="/listar/<%= products[i].id %> ">
          
              <%= products[i].name %> </li>
          
          </a>

    <% } %> 
</ul>
  </ul>


  <%- include('./partials/footer'); %>
</body>
</html>