<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>



  <h1>Listado de Usuarios</h1>
  <ul>
      <% for (let i = 0; i< users.length; i++) { %> 
      
        <li>
            <a href="/users/detail/<%= users[i].id %> ">
            
                <%= users[i].name %> </li>
            
            </a>

      <% } %> 
  </ul>


  <%- include('./partials/footer'); %>
</body>
</html>
