<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>


    <main class="producto-main">


        <ul class="breadcrumb" style="margin-bottom: 15px;">

            <li><a href="/products">Listado de Productos</a></li>
           
                <% if(categoriasTipos.length > 1) {%>
                    <li>
                        <a href="/products">Todos los productos</a>
                    </li> 
                    <% } else { %>
                        <li>
                        <a href="/products?categoria=<%= categoriasTipos%>"><%= categoriasTipos[0].charAt(0).toUpperCase() + categoriasTipos[0].slice(1) %></a>
                    </li><!-- Esto permite poner el primer caracter en mayuscula y el resto en minuscula -->
            
                        <% } %> 

        </ul>

        <!--Main-Banner Slider-->
        <article class=producto-main-art>

        <!--Seccion Productos-->

        <h3 class="titulo-producto-principal"> LISTADO DE PRODUCTOS</h3>

        <% for(let i=0; i < categoriasTipos.length; i++){ %>

        <% let currentCategoria = categoriasTipos[i] %>

        <h2 class="titular2"> <%= currentCategoria.toUpperCase() %></h2>
            
        <section class="seccion-mas-visto2">
            
            <% for(let i=0; i < productos.length; i++){ 
                
                let currentProducto = productos[i];
                
                if (currentProducto.category == currentCategoria){
                
                %>

            
                <div class="caja-envolvedora-producto2">

                <article class="producto-elias" >
                    <div class="producto-cajita2">
                        <img src='./images/products/<%= currentProducto.image %>' class="img-producto">
                        <p class="nombre-producto-alt"><%= currentProducto.name %></p>
                            <p class="precio-elias-alt">$<%= currentProducto.price %></p>
                        <div class="producto-descripcion-2">
                    
                            <a href="/products/detail/<%= currentProducto.id %>" class="producto-enrutador"><button class="ver-detalle-producto"> Ver producto</button></a>

                        </div>
                    </div>
                </article>
                </div>
            </a>
            

            <% } %>
              
           <% } %>
            

        </section>
        <% } %>

        </article>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>