<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <main class="main-elias">
        
        <!--Main-Banner Slider-->
        
        <div class="main-banner">
          <a href="#">  
            <img class="slide1" src="./images/promo3.jpeg">
          </a>
        </div>

        <!--Seccion Griferias-->
        <% for(let i=0; i < categoriasTipos.length; i++){ %>

        <% let currentCategoria = categoriasTipos[i] %>

        <h2 class="titular"> <%= currentCategoria.toUpperCase() %></h2>
            
        <section class="seccion-mas-visto">
            <% for(let i=0; i < productos.length; i++){ 
                
                let currentProducto = productos[i];
                
                if (currentProducto.category == currentCategoria){
                
                %>

            <article class="producto-elias">
                <img src='./images/products/<%= currentProducto.image %>' class="img";>
                <div class="producto-descripcion">
                    <i class="fas fa-tags"></i>
                    <p class="precio-elias"><%= currentProducto.price %></p>
                    <p class="medidas"><%= currentProducto.size %></p>
                    <p class="nombre-producto"><%= currentProducto.name %></p>
                </div>
            </article>

            <% } %>
              
           <% } %>
      </article>
        </section>
        <% } %>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>