<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>

    <div class="main-banner">
        <a href="#">  
          <img class="slide1" src="./images/promo3.jpeg">
        </a>
      </div>

    <main class="main-elias">

        <!--Main-Banner Slider-->

        <!--Seccion Productos-->
        <% for(let i=0; i < categoriasTipos.length; i++){ %>

        <% let currentCategoria = categoriasTipos[i] %>

        <h2 class="titular"> <%= currentCategoria.toUpperCase() %></h2>
            
        <section class="seccion-mas-visto2">
            <% for(let i=0; i < productos.length; i++){ 
                
                let currentProducto = productos[i];
                
                if (currentProducto.category == currentCategoria){
                
                %>

           <a href="/products/detail/<%= currentProducto.id %>"> 
                <article class="producto-elias" >
                    <img src='./images/products/<%= currentProducto.image %>' class="img">
                    <p class="nombre-producto"><%= currentProducto.name %></p>
                        <p class="precio-elias">$<%= currentProducto.price %></p>
                    <div class="producto-descripcion">
                   
                        <p class="medidas"><%= currentProducto.description%></p>
                    </div>
                </article>
            </a>

            <% } %>
              
           <% } %>
         </section>
        <% } %>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>