<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head'); %>

</head>

<body>

    <%- include('./partials/header'); %>
    

    <div class="main-profile">

                      
        <h2 class="titular4">¡Te damos la bienvenida nuevamente!</h2>

        <div class="cont-profile">

            <article class="modify-profile">

                <ul class="option-list">

                    <li class="selection-list"><i class="fas fa-user-cog"></i>Cambiá tus datos personales</li>
                    <li class="selection-list"><i class="fas fa-money-check-alt"></i>Cambiá tus datos de pago</li>
                    <li class="selection-list"><i class="fas fa-map-marked-alt"></i>Cambiá tus dirección</li>
                    <li class="selection-list"><i class="fas fa-history"></i>Historial de compras</li>

                    <% if (locals.isLogged && locals.userLogged.roles_id == 1) { %>
                    <a href="../products/create" class="selection-list-a"><li class="selection-list"><i class="fas fa-plus"></i>Crear producto</li></a>
                    <% } %>
                </ul>
            </article>

            <div class="icon-menu">
                <i class="fas fa-bars"></i>
            </div>

            <article class="show-profile">
                <h3 class="titular3">Perfil</h3>
                <form action="/user/profile" method="GET" class="profile-form" enctype="multipart/form-data">
                    
                    <div class="caja-extra-form-edit">

                    
                    <div class="profile-form-control">
                        <label class="label-title-profile">Nombre y Apellido:</label>
                        <label for="name" name='name' id="name" class="control-profile"><%= user.name %> </label>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">Dirección:</label>                        
                        <label type="text" name="address" class="control-profile"><%= user.address %>  </label>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">Celular: </label>
                        <label type="number" name="celular" id="celular"  class="control-profile"> <%= user.phone %></label>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">Acceso: </label>
                        <label type="text" name="payment" class="control-profile"><%= user.roles.name %> </label>
                    </div>

                    <div class="profile-form-control">
                        <label class="label-title-profile">E-mail: </label>
                        <label type="email" name="email" id="email"  class="control-profile"><%= user.email %> </label>
                    </div>

                    <div class="profile-form-control">
                        <label for="imagen">Avatar: </label>
                        <label type="file" name="imagePerfil" class="control-profile-avatar">
                            <img src="/images/imagesPerfil/<%= user.file %> " alt="avatar">
                        </label>
                    </div>

                    </div>

                </form>
            </article>

            </div>

        </div>

    <%- include('./partials/footer'); %>
</body>
</html>