<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>

    <main>

               <!--Formularios-->
               <div class="contenedor-formularios">

                   <div class="titulo-form">
                       
                       <h3>Registrate</h3>

                       <h3 class="title-bar">|</h3>
                       
                       <h3><a href="/user/login" class="reg-pop">Ingresá</a></h3>
                       
                   </div>

                <form action="/user/register" method="POST" enctype="multipart/form-data" class="create-form">
                    
                    <div class="control-formulario">
                        <input type="text" name="name" placeholder="Nombre completo" class="control" value="<%= locals.oldData ? oldData.name : null %>" >
                    </div>
                                        
                    <% if (locals.errors && errors.name) { %>

                        <div class="text-danger">
                            <%= errors.name.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        <input type="email" name="email" placeholder="Ingresá tu e-mail" class="control" value= "<%= locals.oldData ? oldData.email : null %>" >
                    </div>
                    
                    <% if (locals.errors && errors.email) { %>

                        <div class="text-danger">
                            <%= errors.email.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        <input type="text" name="address" placeholder="Dirección" class="control" value="<%= locals.oldData ? oldData.address : null %>" >
                    </div>
                                        
                    <% if (locals.errors && errors.address) { %>

                        <div class="text-danger">
                            <%= errors.address.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        <div class="control-payment">
                            <select 
                                name="payment" 
                                class="control-form-select <%= locals.errors && errors.payment ? 'is-invalid' : null %>"
                            >
                            <option value="">Seleccioná tu medio de pago</option>
                            <%  
                                let payments = ['VISA', 'MASTERCARD', 'AMEX', 'NARANJA', 'MERCADO PAGO'];
                            %>
                            <% for (const onePayment of payments) { %>
                            <option 
                                    value="<%= onePayment %>"
                                    <%= locals.oldData && (onePayment === oldData.payment) ? 'selected' : null %> 
                                > <%= onePayment %> 
                            </option>
                            <% } %>
                            </select>
                            <% if (locals.errors && errors.payment) { %>
                                <div class="text-danger">
                                    <%= errors.payment.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>                  
                     <div class="control-formulario">
                        
                        <input type="number" name="celular" placeholder="Ingresá tu número de celular" class="control" value= "<%= locals.oldData ? oldData.celular : null %>" >
                    </div>
                    <% if (locals.errors && errors.celular) { %>

                        <div class="text-danger">
                            <%= errors.celular.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        
                        <input type="password" name="password" placeholder="Elegí tu contraseña" class="control" >
                    </div>

                    <% if (locals.errors && errors.password) { %>

                        <div class="text-danger">
                            <%= errors.password.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        <label for="image-perfil" class="foto"><i class="fas fa-camera"></i>Subí una imagen de perfil
                        <input type="file" name="image-perfil" id="image-perfil" accept="image/.jpg, image/.png" class="control-foto"></label>   
                    </div> 
   
                    <div class="boton-centrado">
                    <button type="submit" class="boton-formulario">Creá tu cuenta</button>
                    </div>

                    <div class="no-user">
                        <p>¿Ya tenés una cuenta? ¡Hacé clic <a href="./login">aquí</a>!</p>
                    </div>

            </form>

            </div>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>