<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>

    <main>

               <!--Formularios-->
               <div class="contenedor-formularios">

                   <div class="titulo-form">
                       
                       <h3>Registrate</h3>

                       <h3 class="title-bar">|</h3>
                       
                       <h3><a href="/user/login" class="reg-pop">Ingresá</a></h3>
                       
                   </div>

                <form action="/user/register" method="POST" class="create-form">
                    
                    <div class="control-formulario">
                        <input type="text" name="name" placeholder="Nombre completo" class="control" value= "<%= locals.oldData ? oldData.name : null %> " >
                    </div>

                    <div class="control-formulario">
                        <input type="email" name="email" placeholder="Ingresá tu e-mail" class="control" value= "<%= locals.oldData ? oldData.email : null %> " >
                    </div>
                    
                    <% if (locals.errors && errors.email) { %>

                        <div class="text-danger">
                            <%= errors.email.msg  %> 
                        </div>
                        
                    <% } %>
                  
                     <div class="control-formulario">
                        
                        <input type="number" name="celular" placeholder="Ingresá tu número de celular" class="control" value= "<%= locals.oldData ? oldData.celular : null %>" >
                    </div>
                    <% if (locals.errors && errors.celular) { %>

                        <div class="text-danger">
                            <%= errors.celular.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        
                        <input type="password" name="password" placeholder="Elegí tu contraseña" class="control" >
                    </div>

                    <% if (locals.errors && errors.password) { %>

                        <div class="text-danger">
                            <%= errors.password.msg  %> 
                        </div>
                        
                    <% } %>

                    <div class="control-formulario">
                        
                        <input type="password" name="passwordRe" placeholder="Repetí la contraseña" class="control" >
                    </div>
                    <% if (locals.errors && errors.passwordRe) { %>

                        <div class="text-danger">
                            <%= errors.passwordRe.msg  %> 
                        </div>
                        
                    <% } %>
                    
                    <div class="boton-centrado">
                    <button type="submit" class="boton-formulario">Creá tu cuenta</button>
                    </div>

                    <div class="no-user">
                        <p>¿Ya tenés una cuenta? ¡Hacé clic <a href="./login">aquí</a>!</p>
                    </div>

            </form>

            </div>

    </main>

    <%- include('./partials/footer'); %>
</body>
</html>