<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header-login'); %>
    <main>
    <div class="contenedor-formularios">

        <div class="titulo-form">
            <h3>Registrate</h3>
            <h3 class="title-bar">|</h3>
            
            <h3><a href="/users/login" class="reg-pop">Ingresá</a></h3>
            
        </div>

        <form action="/users/register" method="POST" id="formRegister"class="create-form"enctype="multipart/form-data">
            <ul class="errors"></ul>
            <div class="control-formulario" >
                <input type="text" name="name" placeholder="Nombre completo" id="nameRegister" class="control <%= locals.oldData ? oldData.name : null %>" value="<%=locals.oldData ? oldData.name: null %>">
            </div>

            <% if(locals.errors && errors.name) {%>
                <div class="text-danger">
                    <%= errors.name.msg  %> 
                </div>
                <%} %> 

            <div class="control-formulario">
                <input type="email" name="email" placeholder="Ingresá tu e-mail" id="emailRegister" class="control <%= locals.oldData ? oldData.email : null %>" value="<%=locals.oldData ? oldData.email: null %>">
            </div> 

            <% if(locals.errors && errors.email) {%>
                <div class="text-danger">
                    <%= errors.email.msg  %> 
                </div>
                <%} %> 

            <div class="control-formulario">
                <input type="text" name="address" placeholder="Dirección" id="addressRegister"  class="control <%= locals.oldData ? oldData.address : null %>" value="<%=locals.oldData ? oldData.address: null %>" >
            </div>

            <% if(locals.errors && errors.address) {%>
                <div class="text-danger">
                    <%= errors.address.msg  %> 
                </div>
                <%} %> 

            <div class="control-formulario">
                <input type="text" name="phone" placeholder="Ingresá tu número de celular" id="phoneRegister" class="control <%= locals.oldData ? oldData.phone : null %>" value="<%=locals.oldData ? oldData.phone: null %>" >
            </div> 

            <% if(locals.errors && errors.phone) {%>
                <div class="text-danger">
                    <%= errors.phone.msg  %> 
                </div>
                <%} %> 

            <div class="control-formulario">
                <input type="password" name="password" placeholder="Elegí tu contraseña" id="passRegister" class="control <%= locals.oldData ? oldData.password : null %>" value="<%=locals.oldData ? oldData.password: null %>">
            </div>

            <% if(locals.errors && errors.password) {%>
                <div class="text-danger">
                    <%= errors.password.msg  %> 
                </div>
                <%} %> 
            
            <div class="control-formulario">
                <label for="imagePerfil" class="foto"><i class="fas fa-camera"></i> Subí una imagen de perfil
                <input type="file" name="imagePerfil" id="imagePerfil" accept="image/.jpg, image/.png" class="control-foto <%= locals.errors && errors.imagePerfil ? 'is-invalid' : null %>"></label>   
            </div>   

            <% if(locals.errors && errors.imagePerfil) {%>
                <div class="text-danger">
                    <%= errors.imagePerfil.msg  %> 
                </div>
                <%} %> 

            <div class="control-formulario">
                <div class="control-payment">

                    <select 
                    name="roles_id" 
                    class="control-form-select <%#= locals.errors && errors.payment ? 'is-invalid' : null %>">
                    <option value="">Usted sera</option>
                    <option value="<%= roles[1].id %>"> <%= roles[1].name %> </option>
                    </select>
                    <!-- desde la linea 84 a la 94 nos sirve para seleccionar todos los roles -->
                <!-- <select 
                    name="roles_id" 
                    class="control-form-select <%#= locals.errors && errors.payment ? 'is-invalid' : null %>">
                    <option value="">Seleccioná tu rol</option>
                    <%# for (let i = 0; i < roles.length; i++) { %> 
                    <option value="<%#= roles[i].id %>">
                        <%#= roles[i].name %> 
                    </option>
                    <%# } %> 
                </select> -->
            </div>
            </div>   

            <div class="boton-centrado">
                <button type="submit" class="boton-formulario">Registrate</button>
            </div>

            <div class="no-user">
                <p>¿Ya tenés una cuenta? ¡Hacé clic <a href="./login">aquí</a>!</p>
            </div>
        
        </form>
    </div>
    <script src="/js/validationRegisterUser.js" defer></script>
</main>

</body>
</html>

