<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head"); %>
<body>
    <%- include("./partials/header"); %>

    <main class="producto-main">

        <ul class="breadcrumb" style="margin-bottom: 15px;">
    
          <li><a href="/product/detail">Listado de Productos</a></li>
    
        </ul>
    <h2 class="titular5" >RESULTADO DE LA BÚSQUEDA</h2>
    
    
    <article class=producto-main-search>
        
        <% for(let i =0; i < products.length; i++) {%>    

            
            <div class="caja-envolvedora-producto2">
            
            
                <article class="producto-elias" >
                    <div class="producto-cajita2">          
               
                        <img src="/images/products/<%= products[i].image %>" alt="imagen del producto" class="img-producto">
                        <div class="producto-cajita2">
                        <p class="nombre-producto-alt"> <%= products[i].name %> </p>
                        <p class="precio-elias-alt">$ <%= products[i].price %></p>
                        <div class="producto-descripcion-2">
                            <a href="/product/detail/<%= products[i].id %>"<%= products[i] %>><button class="ver-detalle-producto"> Ver producto</button></a>
                        </div>
                    </div>
                    </div>
                </article>
          
            </div>

            
            <% } %>
            
    </article>
    </main>

    <%- include("./partials/footer"); %>
</body>
</html>